.Button {
  position: relative;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;

  font-family: Quicksand, sans-serif;
  font-size: 18px;
  line-height: 45px;

  background-color: rgb(230, 230, 230);
  border-radius: 4px;
  width: 225px;
  height: 45px;
}

.Button:hover {
  transition-duration: 0.1s;
  background-color: rgb(200, 200, 200);
}

.Button:after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 4px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 20px white;
}

.Button:active:after {
  box-shadow: 0 0 0 0 white;
  border-radius: 4px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  transition: 0s;
}

.Button:active {
  top: 1px;
}
